.hero__section {
    background: var(--hero-bg);

    .hero__content {
    padding-top: 45px;

        h2 {
            color: var(--primary-color);
            font-size: 2.5rem;
            margin: 20px 0;
            font-weight: 600;
        }

        p {
            color: var(--primary-color);
            line-height: 28px;

        }

        .buy__btn {
            border: none;
            outline: none;
            padding: 8px 20px;
            border-radius: 5px;
            background: var(--primary-color);
            cursor: pointer;
            font-size: 1rem;
            margin-top: 40px;

            a {
                    color: white;



            }

        }

    }

}

.timer__count {
    background: var(--primary-color);
    height: 300px;
    padding-top: 50px;
    img {
        width: 70% !important;
        height: 70% !important;
        object-fit: contain;
    }
    button{
        margin-top: 30px;
        // padding: 10px;
        height: 50px;width: 130px;
        font-weight: 700;
    }
}
