.product__details {
    margin-top: 70px;

    h2 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .product__rating {
        color: coral;

        p {
            span {
                color: coral;
                font-weight: 600;
            }
        }

    }
    .product__price {
        font-size: 1.3rem;
        font-weight: 500;
    }
}






.tab__wrapper {
    color: var(--primary-color);
    font-weight: bold;

    cursor: pointer;
    font-size: 1rem;
}

.active__tab {
    font-weight: 600;
}

.tab__content p {
    line-height: 30px;
}

.review__wrapper ul li span {
    color: coral;
    font-weight: 600;
}



@media only screen and (max-width:768px) {
    .product__details h2 {
        font-size: 1.3rem;
    }

    .rating__group {
        column-gap: 1rem !important;
    }
}