.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
    .footer__text {
        line-height: 30px;
        color: white;
    
    }
    .footer__quick-links{
        ul li {
            background: transparent !important;
            a {
                color: white;
            }
        }
        .quick__links-title {
            margin-bottom: 20px;
            color: #fff;
            font-size: 1.1rem;
        }
    }
}



 





.footer_contact li span,
.footer_contact li p {
    color: white;

}

.footer_contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer_copyright {
    color: white;
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}